<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.SurveyVMMapper">
   
   <select id="selectAll" resultMap="SurveyVMResultMap">
   select * from poll_survey 
   <!-- id name description course_id clazz_id user_id questionnaire_id -->
   </select>
   
   <resultMap type="com.briup.apps.poll.bean.extend.SurveyVM" 
   id="SurveyVMResultMap">
      <id column="id" property="id"/>
      <result column="status" property="status"/>
      <result column="code" property="code"/>
      <result column="surveyDate" property="surveyDate"/>
      
      <association  
         column="course_id" 
         select="com.briup.apps.poll.dao.CourseMapper.selectByPrimaryKey" 
         property="course">
      </association>
        
      <association  
         column="clazz_id" 
         select="com.briup.apps.poll.dao.ClazzMapper.selectByPrimaryKey" 
         property="clazz">
      </association>
      
      <association  
         column="user_id" 
         select="com.briup.apps.poll.dao.UserMapper.selectByPrimaryKey" 
         property="user">
      </association>
      
      <association  
         column="questionnaire_id" 
         select="com.briup.apps.poll.dao.QuestionnaireMapper.selectByPrimaryKey" 
         property="questionnaire">
      </association>
      
      
      
   </resultMap>
   
  <!--   
   <select 
      id="selectCourseByCourseId" 
      parameterType="long"
      resultType="com.briup.apps.poll.bean.Course">
      select poll_course.name from poll_course,poll_survey where poll_survey.course_id=#{poll_course.id}
   </select>
   -->
   
</mapper>